body {
  margin: 0;
  font: 14px / 1 sans-serif;
}

header {
  height: 51px;
  background: #dcdce2;
  border-top: 2px solid red
}

.headerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
 }

.headerContent ul {
    display: flex; 
    list-style: none; 
    font-size: 18px;
        }

 li {
   padding: 10px
   
     
 }
.headerContent ul a {
      text-decoration: none;
      color: black  
}

.headerContent ul a:hover {
      color: red;
      
}

.Title{
      text-align: center;
      color: #1d1d1d;
      font-size: 20px;
       margin:0;
      padding:0;
     
}

.titleText {
    font-weight: bold;
}

.redtext {
        color: red;
        font-weight: bold;
       
}
.subtext {
        font-weight: bold;
    
}
.Images {
  display: flex;
  justify-content: center;
  
}
.Images > div {
	padding: 5px;
}

.column {
	display: flex;
  justify-content: center;
  align-items: center;
}

.column > div {
	width: 10%;
	padding: 5px;
}

.column > div:first-child {
	margin-right: 20px;
}
